 
 body {
      background-image: url("IMG_5865.JPG");
      background-size: 100%;
 }

 i.large {
     color: #41521f;
 }

.menu {
    margin-top: 1%;
    margin-left: 1%;
    height: 90px;
    width: 90px;
}

.menutext {
    color: #41521f;
    margin-bottom: 0px;
    font-size: 30px;
    text-align: center;
}

.circle {
      opacity: .5;
    }

.highlight {
        margin-left: 50%;
}

.fix {
    position: fixed;
}

.headline {
    margin-top: 22%
}